@font-face{
    font-family: "abc";
    src: url("../fonts/static/Rubik-Regular.ttf");
}
*{
    font-family: abc;
}



h1,h2,h3,img,span,p{
    font-family: abc;
}
body{
    overflow-x: hidden;
    
}
.addPatient{
    background-color: #e6e6e6;
    border:none;
    padding:5px;
   height: 2em;
}

.header-icon{
    padding:5px;
}


.sidenav {
    height: 100%;
    position: absolute;
    left: 0;
    
    background-color:rgb(255, 51, 51);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav .test {
    background-color: rgb(255, 51, 51);
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
  }

  


  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .contain{
      display: inline-block;
  }

  .align{
      float: right;
      padding: 5px;
      margin: 5px;
      border:#e6e6e6;
      border-radius: 5px;
      background-color: white;
  }

  .learn{
      margin: 0.50em;
      background-color: white;
      border: 2px solid lightgrey;
  }

#side-block{
    background-color: #ffffff;
    padding: 5px;
    left:1em;
    position: relative;
    margin: 2px;
}


   
#wrap {
    width: 600px;
    
    
    }

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
    }

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
    }

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
    }

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
    }

#external-events p input {
    margin: 0;
    vertical-align: middle;
    }

#calendar {
/* 		float: right; */
    margin: 0 auto;
    width: 750px;
    
    background-color: #FFFFFF;
      border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    }

    .appointment{
        background-color: white;
        border: 2px solid rgb(255, 51, 51);;
        border-radius: 5px;
        color:rgb(255, 51, 51);;
    }

    .appointment:hover{
        background-color: rgb(255, 51, 51);
        border: 2px solid white;
        color:white;
    }

   

    #input_container {
        position:relative;
        padding:0 0 0 20px;
        margin:0 20px;
        display: inline-block;
        direction: ltr;
        width: 200px;
       
    }
    #input {
        background-color: #e6e6e6;
        height:2em;
        margin:0;
        padding-left: 30px;
        width: 100%;
    }
    #input_img {
        position:absolute;
        bottom:2px;
        left:25px;
        width:24px;
        height:24px;
    }

    #horizontal{
        height: 2px;
        background-color: #e6e6e6;
    }

    .test:hover{
        background-color: #ffffff !important;
    }

    .test .test1:last-child {
        display: none;  
      }
    .test:hover .test1:last-child {
        
        display: block ;  
    }
    .test:hover .test1:first-child {
        display: none;  
      }

      .test .test2:last-child {
        display: none;  
      }
    .test:hover .test2:last-child {
        
        display: block;  
    }
    .test:hover .test2:first-child {
        display: none;  
      }


      .test .test3:last-child {
        display: none;  
      }
    .test:hover .test3:last-child {
        
        display: block;  
    }
    .test:hover .test3:first-child {
        display: none;  
      }


      .test .test4:last-child {
        display: none;  
      }
    .test:hover .test4:last-child {
        
        display: block;  
    }
    .test:hover .test4:first-child {
        display: none;  
      }


      .test .test5:last-child {
        display: none;  
      }
    .test:hover .test5:last-child {
        
        display: block;  
    }
    .test:hover .test5:first-child {
        display: none;  
      }


      .test .test6:last-child {
        display: none;  
      }
    .test:hover .test6:last-child {
        
        display: block;  
    }
    .test:hover .test6:first-child {
        display: none;  
      }


      .test .test7:last-child {
        display: none;  
      }
    .test:hover .test7:last-child {
        
        display: block;  
    }
    .test:hover .test7:first-child {
        display: none;  
      }


      .test .test8:last-child {
        display: none;  
      }
    .test:hover .test8:last-child {
        
        display: block;  
    }
    .test:hover .test8:first-child {
        display: none;  
      }


      .test .test9:last-child {
        display: none;  
      }
    .test:hover .test9:last-child {
        
        display: block;  
    }
    .test:hover .test9:first-child {
        display: none;  
      }


      .test .test10:last-child {
        display: none;  
      }
    .test:hover .test10:last-child {
        
        display: block;  
    }
    .test:hover .test10:first-child {
        display: none;  
      }


      .test .test11:last-child {
        display: none;  
      }
    .test:hover .test11:last-child {
        
        display: block;  
    }
    .test:hover .test11:first-child {
        display: none;  
      }


      .test .test12:last-child {
        display: none;  
      }
    .test:hover .test12:last-child {
        
        display: block;  
    }
    .test:hover .test12:first-child {
        display: none;  
      }
    